/* Colors
green: #7BE0AD
blue: #0D0D35 */


body {
  max-width: 100%;
  margin: auto;
  color: #0D0D35;
}

nav img {
  height: 4rem;
  margin: 1.5rem;
  margin-left: 15%;
}

nav a {
  text-decoration: none;
  float: right;
  background-color: #7be0ad;
  color: #fff;
  border-radius: 30px;
  font-family: "Open Sans", sans-serif;
  font-weight:600;
  border: none;
  text-align: center;
  padding: 0.75rem;
  margin-top: 2.5rem;
  margin-right: 15%;
  cursor: pointer;
}

main {
  font-family: "Playfair Display", serif;
  background-image: url("./AugustWebsiteImage.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 640px;
  margin: auto;
}

main h1 {
  padding-top: 12rem;
  font-size: 3.5rem;
  width: 50%;
  margin: auto;
  text-align: center;
}

main p {
  padding-top: 2rem;
  font-size: 1.1rem;
  font-family: "Open Sans", sans-serif;
  width: 40%;
  margin: auto;
  text-align: center;
}

section {
  width: 100%;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

hr {
  height: 1px;
  margin-top: 2rem;
  width: 50%; max-width: 300px;
    /* Set the hr color */
    color: #7BE0AD; /* old IE */
    background-color: #7BE0AD; /* Modern Browsers */
}

.inline-link {
  color: #2d865a;
  font-weight: bold;
}

.top {
  height: 33%;
  padding: 4rem;
  font-size: 1.25rem;
  font-weight: 600;
  width: 600px;
  margin: auto;
  text-align: center;
}

.mid {
  text-align: left;
  width: 40%;
  height: 33%;
  margin-left: 15%;
  font-size: 2rem;
  padding: 4rem;
  padding-bottom: 12rem;
}

.mid p {
  font-size: 1.1rem;
}

.mid h3 {
   font-family: "Playfair Display", serif;
  margin-bottom: 0;
  margin-top: 0;
}

div .bottom {
  font-family: "Playfair Display", serif;
  padding: 4rem;
  font-size: 1.5rem;
  margin: auto;
  text-align: center;
  background-color: #0d0d35;
  color: #fff;
}

.hide {
  display: none;
}


@media only screen and (max-width: 620px) {
  main{
    background-image: none;
    height: auto;
  }

  nav img {
    height: 3rem;
  }
  nav a{
    padding: 0.5rem;
    margin-top: 1.75rem
  };

  h2{
    text-align: center;
    font-size: 1rem;
  }
}

@media only screen and (max-width: 550px) {
  nav img {
    display: block;
    margin: auto;
    height: 2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  main h1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.3rem;
    padding-top: 0;
    text-align: center;
    position: relative;
    width: 50%;
  }

  .visible{
    display: none;
  }

  .hide{
  text-decoration: none;
  background-color: #7be0ad;
  color: #fff;
  border-radius: 15px;
  font-family: "Open Sans", sans-serif;
  border: none;
  text-align: center;
  margin: 2rem auto;
  padding: 0.5rem;
  cursor: pointer;
  display: inherit;
  font-size: small;
  display: block;
  }


  .mid{
    margin: auto;
    padding-bottom: 0;
    padding-top: 3rem;
  }

  .mid h3{
    font-size: 1.3rem;
    text-align: center;
  }

  .mid p{
    text-align: center;
    font-size: 0.75rem;
  }

  main p{
    font-size: 0.75rem;
  }

  h2{
    text-align: center;
    font-size: 0.75rem;
  }

  div.bottom {
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 0;
  }

  section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
  }

  body {
    min-height: calc(100vh);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

  }
}